/* 导航块 开始 都是*/

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 20px 0 10px 0;

  .navbar-header {
    position: relative;
    float: left;
    margin-left: 15px;
    overflow: hidden;
    // width: 100%;
    a {
      width: 165px;
      height: 40px;
      padding-left: 15px;
      background: url(../images/sprite.png) no-repeat 15px -190px;
      margin-left: 0;
    }
  }
  #bs-example-navbar-collapse-1 {
    width: 100%;
  }
}
  /* 导航块  结束 */

  /* banner 开始 */
  .banner {
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .0001) 100%);
    &::before {
      position: absolute;
      top: 50%;
      right: 5%;
      display: block;
      overflow: hidden;
      margin-top: -50px;
      width: 40px;
      height: 100px;
      background: url(../images/sprite.png) no-repeat -64px -725px;
      content: "";
    }
  }
  .carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .0001) 100%);
    &::before {
      position: absolute;
      top: 50%;
      left: 5%;
      display: block;
      overflow: hidden;
      margin-top: -50px;
      width: 40px;
      height: 100px;
      background: url(../images/sprite.png) no-repeat -64px -620px;
      content: "";
    }
  }
  /* banner 结束 */

  /* 宣传块 开始 */
  //卡片
  .card {
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100% !important;
    max-width: 1440px;
    > .row {
      margin-right: -10px;
      margin-left: -10px;
      padding: 0 5px;

      .row {
        margin-right: -10px;
        margin-left: -10px;
        > .col-sm-12 {
          margin-bottom: 3%;
          padding-right: 10px;
          padding-left: 10px;
        }
      }
    }
    .col-sm-6 {
      padding-right: 10px;
      padding-left: 10px;
      margin-bottom: 1.5%;
    }
    .card_multi_img {
      position: relative;
      overflow: hidden;
      .card_l_img {
        width: 100%;
        height: 100%;
        > a {
          span {
            width: auto !important;
            height: auto !important;
            img {
              display: block;
              width: 110%;
              height: 110%;
            }
          }
        }
      }
    }

  }
  //应用轮播

  /* 宣传块 结束 */

  /* 视频块 开始 */
  .video {
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100% !important;
    max-width: 1440px;
    > .row {
      margin: 0px -15px;
      overflow: hidden;
      span {
        width: auto !important;
        height: auto !important;
        background-image: none;
        img {
          width: 100%;
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }

/* 视频块 结束 */

/* 新闻块 开始 */
/* 新闻块 结束 */

/* 底部块 开始 */
/* 底部块 结束 */