/* 导航块 开始 都是*/
/* 导航块  结束 */
/* banner 开始 */
.banner {
  margin-bottom: 30px;
}
.carousel-control.right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.0001) 100%);
}
.carousel-control.right::before {
  position: absolute;
  top: 50%;
  right: 5%;
  display: block;
  overflow: hidden;
  margin-top: -50px;
  width: 40px;
  height: 100px;
  background: url(../images/sprite.png) no-repeat -64px -725px;
  content: "";
}
.carousel-control.left {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.0001) 100%);
}
.carousel-control.left::before {
  position: absolute;
  top: 50%;
  left: 5%;
  display: block;
  overflow: hidden;
  margin-top: -50px;
  width: 40px;
  height: 100px;
  background: url(../images/sprite.png) no-repeat -64px -620px;
  content: "";
}
/* banner 结束 */
/* 宣传块 开始 */
.card {
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100% !important;
  max-width: 1440px;
}
.card > .row {
  margin-right: -10px;
  margin-left: -10px;
  padding: 0 5px;
}
.card > .row .row {
  margin-right: -10px;
  margin-left: -10px;
}
.card > .row .row > .col-sm-12:first-of-type {
  margin-bottom: 3%;
}
.card > .row .row > .col-sm-12 {
  padding-right: 10px;
  padding-left: 10px;
}
.card .col-sm-6 {
  padding-right: 10px;
  padding-left: 10px;
}
.card .card_multi_img {
  position: relative;
  overflow: hidden;
}
.card .card_multi_img .card_l_img {
  width: 100%;
  height: 100%;
}
.card .card_multi_img .card_l_img > a span {
  width: auto !important;
  height: auto !important;
}
.card .card_multi_img .card_l_img > a span img {
  display: block;
  width: 110%;
  height: 110%;
}
.rotate .row {
  padding-left: 10px;
  padding-right: 10px;
}
.rotate .row > .col-sm-6 {
  margin: 1.5% 0;
}
/* 宣传块 结束 */
/* 视频块 开始 */
.video {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100% !important;
  max-width: 1440px;
}
.video > .row {
  margin: 0px -10px;
  overflow: hidden;
}
.video > .row span {
  width: auto !important;
  height: auto !important;
  background-image: none;
}
.video > .row span img {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
/* 视频块 结束 */
/* 新闻块 开始 */
.news {
  margin: 20px 5px 0 5px;
}
.news .n_tit {
  margin-bottom: 25px;
  padding-left: 17px;
  height: 44px;
  border-left: 4px solid #CE0000;
  font-size: 24px;
  color: #ce0000;
  line-height: 20px;
}
.news .n_tit .more {
  margin-right: 15px;
  margin-top: 10px;
  font-size: 36px;
  color: #b90000;
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
  float: right;
}
.news .n_tit em {
  color: #9b9b9b;
  font-size: 16px;
  line-height: 35px;
}
.news .news_left {
  padding: 0;
}
.news .news_left .new_l {
  width: 100%;
  height: 102px;
  margin-bottom: 20px;
  float: left;
  position: relative;
  color: #757575;
}
.news .news_left .new_l .new_lim {
  margin: 1px;
  float: left;
  margin-right: 17px;
  display: block;
  width: 150px;
  height: 100px;
  overflow: hidden;
  font-size: 0;
  line-height: 100px;
  text-align: center;
  position: relative;
}
.news .news_left .new_l .new_lim img {
  width: 100%;
}
.news .news_left .new_l > h4 {
  font-size: 16px;
  height: 25px;
  font-weight: 400;
  line-height: 25px;
  padding-top: 5px;
  margin: 0;
}
.news .news_left .new_l .new_p {
  width: 100%;
  text-indent: 2em;
  padding: 20px 20px 0 20px;
  color: #999;
  font-size: 14px;
  line-height: 25px;
}
.news .news_left .new_l .new_tiem {
  position: relative;
  top: -60px;
  right: 10px;
  color: #505050;
  line-height: 20;
  text-align: right;
  font-size: 12px;
  color: #878787;
  display: block;
}
.news .news_right {
  padding: 0;
  padding-left: 20px;
}
.news .news_right .new_r_box {
  width: 100%;
  height: auto;
  border: 1px solid #dcdcdc;
  padding: 0;
  margin: 0;
  position: relative;
}
.news .news_right .new_r_box .new_bim > img {
  width: 100%;
}
.news .news_right .new_r_box > h4 {
  padding: 0 20px;
  font-size: 16px;
  color: #333;
  line-height: 25px;
  min-height: 28px;
  max-height: 50px;
  overflow: hidden;
}
.news .news_right .new_r_box .new_time {
  padding-top: 0px;
  padding-right: 20px;
  color: #505050;
  text-align: right;
  font-size: 12px;
  color: #878787;
  display: block;
}
/* 新闻块 结束 */
/* 底部块 开始 */
.footer {
  background: #202020;
  margin-top: 20px;
  margin-bottom: 1px;
}
.footer .row {
  margin: 0;
  padding: 0;
}
.footer .footer_fl {
  width: 70%;
  margin-top: 20px;
  padding-top: 10px;
  float: left;
}
.footer .footer_fl > ul {
  width: 20%;
  float: left;
}
.footer .footer_fl > ul > .top {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}
.footer .footer_fl > ul li {
  padding: 5px;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
}
.footer .footer_fl > ul li a {
  color: #fff;
}
.footer .footer_fr {
  width: 340px;
  margin-top: 20px;
  padding-top: 10px;
  float: right;
}
.footer .footer_fr .fr_top {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  height: 30px;
  margin-bottom: 20px;
}
.footer .footer_fr .qrcode {
  width: 100%;
  height: 190px;
  text-align: center;
}
.footer .footer_fr .qrcode > a {
  padding-top: 160px;
  width: 160px;
  height: 30px;
  line-height: 30px;
  color: #CCC;
}
.footer .footer_fr .qrcode .qrcode_weibo {
  float: right;
  background: url("../images/sprite.png") no-repeat -6px -240px;
}
.footer .footer_fr .qrcode .qrcode_wechat {
  float: left;
  background: url("../images/sprite.png") no-repeat -6px -448px;
}
.footer .copyright {
  border-top: #272828 1px solid;
  color: #474747;
  height: 39px;
  line-height: 39px;
  margin-top: 20px;
}
.footer .copyright a {
  color: #474747;
  padding-top: 160px;
  width: 160px;
  height: 30px;
  line-height: 30px;
}
/* 底部块 结束 */
