#index-banner {margin: 0 auto;margin-right: auto;margin-left: auto; margin-bottom:30px; width: 100%!important;max-width: 1920px;}

.carousel-control.left {left: 0;background: none;}
.carousel-control.left:before {position: absolute;top: 50%; left:5%;display: block;overflow: hidden;margin-top: -50px;width: 40px;height: 100px;background: url("../image/sprite.png") no-repeat -64px -620px;content: "";}
.carousel-control.right {right: 0;background: none;}
.carousel-control.right:before {position: absolute;top: 50%; right:5%;display: block;overflow: hidden;margin-top: -50px;width: 40px;height: 100px;background: url("../image/sprite.png") no-repeat -64px -725px;content: "";}

/**卡片**/
#index-card [class*=col-],.index-video {margin-bottom: 1.5%;}
#index-card>.row{ padding:0 5px;}

#index-card>.row>.col-sm-6{padding-right: 10px;padding-left: 10px;}
#application-carousel .row{ padding:0 5px;}
#application-carousel .row .col-sm-6{padding-right: 10px;padding-left: 10px;}

#index-card .row .row>.col-sm-12 {margin-bottom: 3%;}
#index-card .row .row>.col-sm-12:last-child {margin-bottom: 0;}
.lg-container {margin: 0 auto;margin-right: auto;margin-left: auto;padding-right: 15px;padding-left: 15px;width: 100%!important;max-width: 1440px;}
.animate-item {opacity: 0;-webkit-transition: opacity .2s,-webkit-transform 1s cubic-bezier(0,.9,.45,1);transition: opacity .2s,transform 1s cubic-bezier(0,.9,.45,1);-webkit-transform: translateY(300px);transform: translateY(300px);-ms-transform: translateY(300px);}
.animate-item.animate-delay-1,.animate-item.animate-delay-2 {-webkit-transition-delay: .1s;transition-delay: .1s;-webkit-transition-duration: 1s,1s;transition-duration: 1s,1s;}
.animate-item.animate-delay-3 {-webkit-transition-delay: .3s;transition-delay: .3s;-webkit-transition-duration: 1s,1s;transition-duration: 1s,1s;-webkit-transform: translateY(360px);transform: translateY(360px);-ms-transform: translateY(360px);}
.animate-item.animate-start {opacity: 1;-webkit-transform: translate(0);transform: translate(0);-ms-transform: translate(0);filter: alpha(opacity=100);}
#index-card .row {margin-right: -10px;margin-left: -10px;}
#index-card .col-sm-6,#index-card .col-sm-12 {padding-right: 10px;padding-left: 10px;}
.harwar_multi_img {position: relative;overflow: hidden;}
.harwar_img_subinfo {position: absolute;top: 0;display: block;margin: 0;padding: 0;width: 100%;height: 100%;}
.harwar_img {width: 100%;height: 100%;-webkit-transition: all 1s cubic-bezier(.19,1,.22,1);-moz-transition: all 1s cubic-bezier(.19,1,.22,1);-o-transition: all 1s cubic-bezier(.19,1,.22,1);transition: all 1s cubic-bezier(.19,1,.22,1);}
.harwar_img.hover,.harwar_img:hover {margin-left: -20px;}
.harwar_img img {width: 110%;max-width: 110%;}
.harwar_img_subinfo a {position: relative;top: 0;left: 0;display: block;margin: 0;padding: 20px 40px;width: 100%;height: 100%;text-decoration: none;}
.harwar_multi_img:hover a {background: rgba(0,0,0,.5);text-decoration: none;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a8000000",endColorstr="#a8000000",GradientType=0);}
.harwar_img_wrap {position: absolute;bottom: 0;left: 0;margin-bottom: 20px;padding: 0 40px 0 40px;width: 100%;min-height: 100px;}
.harwar_img_subinfo h3 {position: relative;margin-bottom: 10px;color: #fff;font-size: 30px;line-height: 1.2;opacity: 1;-webkit-transform: translateY(60%);-moz-transform: translateY(60%);transform: translateY(60%);-ms-transform: translateY(60%);}
.harwar_img_subinfo a,.harwar_img_subinfo h3,.harwar_img_subinfo p {-webkit-transition: all 1s cubic-bezier(.19,1,.22,1);-moz-transition: all 1s cubic-bezier(.19,1,.22,1);-o-transition: all 1s cubic-bezier(.19,1,.22,1);transition: all 1s cubic-bezier(.19,1,.22,1);}
.harwar_img_subinfo p {position: relative;width: 100%;color: #fff;line-height: 1.5;opacity: 0;-webkit-transform: translateY(80%);-moz-transform: translateY(80%);transform: translateY(80%);-ms-transform: translateY(80%);filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
.harwar_multi_img:hover a button,.harwar_multi_img:hover a h3,.harwar_multi_img:hover a p {opacity: 1;-webkit-transform: translateY(0);-moz-transform: translateY(0);transform: translateY(0);filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);-ms-transform: translateY(0);}
.harwar_img_subinfo a:after,.harwar_img_subinfo a:before {display: table;content: " ";}
.harwar_img_subinfo a:after {clear: both;}
@media only screen and (max-width:767px) {.harwar_img_wrap {	padding: 0;}
    .harwar_img_subinfo p {	padding-right: 0;}
    .harwar_multi_img:hover a {	background-color: inherit;}
    #index_card .row .row>.col-sm-12,#index_card [class*=col-],#harwar_stage {	margin-bottom: 30px;}
    #index_card [class*=col-] {	margin-top: 0;}
    .harwar_img.hover,.harwar_img:hover {	margin-left: 0;}
    .harwar_img_subinfo {	position: relative;	padding: 0;	width: auto;	height: auto;}
    .harwar_img_wrap {	position: relative;	margin-bottom: 0;	min-height: 100%;}
    .harwar_img_subinfo a {	padding: 10px 0;	-webkit-transition: initial;	-moz-transition: initial;	-o-transition: initial;	transition: initial;}
    .harwar_img_subinfo a:hover {	background-color: #fff;}
    .harwar_img_subinfo h3 {	margin: 0;	font-size: 22px;}
    .harwar_img_subinfo p {	margin-top: 5px;	margin-bottom: 0;	font-size: 16px;}
    .harwar_img_subinfo h3,.harwar_img_subinfo p {	color: #333;	opacity: 1;	-webkit-transform: translateY(0);	-moz-transform: translateY(0);	transform: translateY(0);	-ms-transform: translateY(0);}
}
/*视频*/
#index-video{margin:0px 5px; overflow: hidden;}

/*新闻*/
#index-news { margin:20px 5px 0 5px;}
#index-news .news-tit {margin-bottom: 25px;padding-left: 17px;height: 44px;border-left: 4px solid #CE0000;font-size: 24px;color: #ce0000;line-height: 20px;}
#index-news .news-tit em {color: #9b9b9b;font-size: 16px;line-height: 35px;}
#index-news .news-tit .more {margin-right: 15px;margin-top: 10px;font-size: 36px;color: #b90000;-webkit-transition: .7s;-o-transition: .7s;transition: .7s;}
#index-news .news-tit .more:hover {-webkit-transform: rotate(360deg);-ms-transform: rotate(360deg);-o-transform: rotate(360deg);transform: rotate(360deg);}
#index-news .news-list_left{padding-left:0px; padding-right:0;}
.news-box_left { width:100%; height: 102px; margin-bottom:20px; float:left;  position: relative;color:#757575;}
.news-box_left .news_pic { margin:1px;float:left; margin-right: 17px;display: block;width: 150px;height: 100px;overflow: hidden;font-size: 0;line-height: 100px;text-align: center;position: relative;}
.news-box_left img{ width:100%;}
.news-box_left::before { position: absolute;top: -1px;right: -1px;bottom: -1px;left: -1px;content: '';opacity: 0;border-top: 2px solid #ff0000;border-bottom: 2px solid #ff0000;-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;transition: opacity 0.4s, transform 0.4s;-webkit-transform: scale(0,1);transform: scale(0,1);}
.news-box_left::after { position: absolute;top: -1px;right: -1px;bottom: -1px;left: -1px;content: '';opacity: 0;border-right: 2px solid #ff0000;border-left: 2px solid #ff0000;-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;transition: opacity 0.4s, transform 0.4s;-webkit-transform: scale(1,0);transform: scale(1,0);}
.news-box_left:hover:before,.news-box_left:hover::after{ opacity: 1;-webkit-transform: scale(1);transform: scale(1);}
.news-box_left h4 {font-size: 16px;font-weight: 400; height:25px; line-height: 25px; padding-top:5px; margin:0;}
.news-box_left:hover h4 {color: #CE0000;}
.news-box_left .news_info {width:100%; text-indent:2em;  padding:20px 20px 0 20px;; color: #999; line-height: 25px; font-size:14px;}
.news-box_left .news_time{ position:relative; top:-60px; right:10px; color:#505050; line-height:20; text-align:right;font-size:12px;color:#878787;display: block;}

#index-news .news-list_right{padding-right:0; padding-left:20px;}
@media only screen and (max-width: 991px){
    #index-news .news-list_right{padding-left:0; padding-right:10px;}
    #index-news .news-list_right:last-child{padding-left:10px;padding-right:0;}
}
.news-box_right { width:100%; height:auto; border:1px solid #dcdcdc; padding:0; margin:0;  position:relative;}
.news-box_right::before { position: absolute;top: -1px;right: -1px;bottom: -1px;left: -1px;content: '';opacity: 0;border-top: 2px solid #ff0000;border-bottom: 2px solid #ff0000;-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;transition: opacity 0.4s, transform 0.4s;-webkit-transform: scale(0,1);transform: scale(0,1);}
.news-box_right::after { position: absolute;top: -1px;right: -1px;bottom: -1px;left: -1px;content: '';opacity: 0;border-right: 2px solid #ff0000;border-left: 2px solid #ff0000;-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;transition: opacity 0.4s, transform 0.4s;-webkit-transform: scale(1,0);transform: scale(1,0);}
.news-box_right:hover::before,.news-box_right:hover::after{ opacity: 1;-webkit-transform: scale(1);transform: scale(1);}
.news-box_right img{ width:100%;}
.news-box_right h4 {padding:0px 20px 0px 20px;font-size:16px;color:#333;line-height:25px; min-height:28px; max-height:50px; overflow:hidden;}
.news-box_right .news_time{ padding-top:0px; padding-right:20px; color:#505050; text-align:right;font-size:12px;color:#878787;display: block;}